<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto sistema com VUE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="css/estilo.css">
  
</head>

<body id="app">

    <header class="sticky-top">

        <nav class="navbar navbar-expand-lg navbar-light bg-menu">

            <div class="container-fluid">

                <a class="navbar-brand" href="index.html">Zé da Gota Enterprises</a>

                <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#menu">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <!-- INICIANDO A ESTRUTURA DO OFFCANVAS -->

                <div class="offcanvas offcanvas-start" tabindex="-1" id="menu" aria-labelledby="offcanvas de menu lateral">
                
                    <div class="offcanvas-header">

                        <h5 class="offcanvas-title">Menu</h5>

                        <button class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>

                    </div>

                    <div class="offcanvas-body">

                        <ul class="navbar-nav justify-content-end flex-grow-1">

                            <li class="nav-item">

                                <!-- $EVENT PERMITE ACESSAR O EVENTO ORIGINAL DO DOM DE FORMA QUE EU CONSIGA MANIPULAR TODO O CONTEUDO DO ELEMENTO -->

                                <a href="" class="nav-link idade" v-on:click.prevent="verificarLink($event.target.classList)">Calcular idade</a>

                            </li>

                            <li class="nav-item">

                                <a href="" class="nav-link cambio" v-on:click.prevent="verificarLink($event.target.classList)">Calcular câmbio</a>

                            </li>

                            <li class="nav-item">

                                <a href="" class="nav-link diaSemana" v-on:click.prevent="verificarLink($event.target.classList)">Verificar dia da semana</a>

                            </li>

                            <li class="nav-item">

                                <a href="" class="nav-link desconto" v-on:click.prevent="verificarLink($event.target.classList)">Calcular desconto</a>

                            </li>

                            <li class="nav-item">

                                <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#modalSobre">Sobre</a>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>
            
        </nav>

    </header>

    <main>

        <!-- MENSAGEM DE BOAS VINDAS -->

        <section class="p-3 my-4 bg-primary shadow">
        
            <div class="container-fluid py-3 text-center">

                <h2 class="display-6 fw-bold text-light"> {{textoInicial}} </h2>

            </div>

        </section>

        <!-- HOME -->

        <section v-if="bloco.inicio" class="p-2 my-5 shadow col-md-10 mx-auto">

            <div class="container-fluid py-3 text-center">

                <p class="fw-bold fs-3">Para começar, escolha umas das funções do menu</p>

            </div>

        </section>

        <!-- FUNCIONALIDADE 1: IDADE -->

        <section v-if="bloco.idade" class="p-5 my-5 col-md-10 shadow mx-auto">

            <div class="container-fluid py-5 text-center">

                <form action="">

                    <div class="d-flex align-items-center">
                        
                        <span class="material-symbols-outlined fs-1 me-2">

                            event

                        </span>

                        <input type="number" class="form-control form-control-lg" placeholder="Digite o ano do seu nascimento com 4 dígitos " min="1900" max="2050" required v-model="campoIdade" v-on:keyup="validaIdade()">

                    </div>

                    <div class="text-start mt-3">

                        <small class="text-danger">

                            {{info}}

                        </small>

                    </div>

                    <div class="d-flex justify-content-end mt-3">

                        <button type="submit" class="btn btn-lg btn-primary" v-on:click.prevent="calcularIdade()">

                            Calcular idade

                        </button>

                    </div>

                    <p class="lead text-start">

                        {{resultado}}

                    </p>

                </form>

            </div>

        </section>

        <!-- FUNCIONALIDADE 2: CÂMBIO  -->

        <section v-if="bloco.cambio" class="p-5 my-5 col-md-10 shadow mx-auto">

            <div class="container-fluid py-5 text-center">

                <form action="">

                    <section class="row">
                        
                        <div class="col-md-6 d-flex align-items-center mt-3">

                            <span class="material-symbols-outlined fs-1 me-2">

                                attach_money

                             </span>

                            <input type="text" class="form-control form-control-lg" placeholder="Informe a quantia em dólar" pattern="^[0-9]+(\.([0-9]{2}))?$" title="Informe apenas números inteiros ou separados por ponto com 2 casas decimais" v-model="dolar">

                        </div>
                            
                        <div class="col-md-6 d-flex align-items-center mt-3">

                            <span class="material-symbols-outlined fs-1 me-2">

                                price_change

                            </span>

                            <input type="text" class="form-control form-control-lg" placeholder="Qual a cotação do dólar?"  pattern="^[0-9]+(\.([0-9]{2}))?$" title="Informe apenas números inteiros ou separados por ponto com 2 casas decimais" v-model="cotacao">

                        </div>

                    </section>

                    <div class="form-check form-switch d-flex w-200 justify-content-around mt-4">

                        <input type="checkbox" id="switch" class="form-check-input">

                        <label for="switch" class="form-check-label">Usar cotação online</label>

                    </div>

                    <div class="text-start">

                        <small class="text-danger">

                            {{info}}

                        </small>

                    </div>

                    <div class="d-flex justify-content-end mt-2">

                        <button type="submit" class="btn btn-lg btn-primary" v-on:click.prevent="converterDolar()">

                            Calcular câmbio

                        </button>

                    </div>

                    <p class="lead text-start">

                        {{resultado}}

                    </p>

                </form>

            </div>

        </section>

        <!-- FUNCIONALIDADE 3: VERIFICAR DIA DA SEMANA -->

        <section v-if="bloco.diaSemana" class="p-5 my-5 col-md-10 shadow mx-auto" v-on:mouseover=ativarTooltip()>

            <div class="container-fluid py-5 text-center">

                <form action="">

                    <div class="d-flex align-items-center">
                        
                        <span class="material-symbols-outlined fs-1 me-2">

                            date_range

                        </span>

                        <input type="date" class="form-control form-control-lg" placeholder="Informe uma data" id="diaSemana" data-bs-placement="top" title="Informe uma data qualquer" required v-model="data">

                    </div>

                    <div class="text-start">

                        <small class="text-danger">

                            {{info}}

                        </small>

                    </div>

                    <div class="d-flex justify-content-end mt-3">

                        <button type="submit" class="btn btn-lg btn-primary" v-on:click.prevent="verificarDiaSemana()">

                            Calcular dia da semana

                        </button>

                    </div>

                    <p class="lead text-start">

                        {{resultado}}

                    </p>

                </form>

            </div>

        </section>

        <!-- FUNCIONALIDADE 4: CALCULAR DESCONTO -->

        <section v-if="bloco.desconto" class="p-5 my-5 col-md-10 shadow mx-auto">

            <div class="container-fluid py-5 text-center">

                <form action="">

                    <section class="row">
                        
                        <div class="col-md-6 d-flex align-items-center mt-3">

                            <span class="material-symbols-outlined fs-1 me-2">

                                currency_exchange

                            </span>

                            <input type="text" class="form-control form-control-lg" placeholder="Informe o valor" pattern="^[0-9]+(\.([0-9]{2}))?$" title="Informe apenas números inteiros ou separados por ponto com 2 casas decimais" required v-model="qntDolar">

                        </div>
                            
                        <div class="col-md-6 d-flex align-items-center mt-3">

                            <span class="material-symbols-outlined fs-1 me-2">

                                percent

                            </span>

                            <input type="text" class="form-control form-control-lg" placeholder="Qual a porcentagem do desconto?" pattern="^[0-9]+(\.([0-9]{2}))?$" title="Informe apenas números inteiros ou separados por ponto com 2 casas decimais" required v-model="desconto">

                        </div>

                    </section>

                    <div class="text-start">

                        <small class="text-danger">
    
                            {{info}}

                        </small>

                    </div>

                        <div class="d-flex justify-content-end mt-3">

                            <button type="submit" class="btn btn-lg btn-primary" v-on:click.prevent="calcularDesconto()">

                                Calcular desconto
    
                            </button>

                        </div>

                        <p class="lead text-start">

                            {{resultado}}
    
                        </p>

                </form>

            </div>

        </section>

    </main>

    <!-- CRIANDO O MODAL PARA O MENU SOBRE -->

    <section class="modal fade" id="modalSobre" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Desenvolvedor</h5>

                    <button type="submit" class="btn-close" data-bs-dismiss="modal"></button>

                </div>

                <div class="modal-body">

                    <div class="card">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnpIIrrHHlTfeAsq_5M-DkQZYXZRhYzEWtMgh2HsrqKxDvCx75ux_iob7QqU7PYgQ62RU&usqp=CAU" alt="Foto de perfil" class="card-img-top img-thumbnail rounded-circle mx-auto w-200">

                        <div class="card-body">

                            <h5 class="card-title text-center">ZéGotinha03</h5>

                            <p class="card-text text-center">sapecafofo@gmail.com</p>

                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt numquam sunt velit sapiente in magni fugit voluptates rerum, sint necessitatibus molestiae a natus officiis veritatis? Nam deserunt voluptates iusto provident.
                            Fuga, inventore ipsa! Voluptatum enim debitis voluptatibus sed cupiditate a explicabo quis, ex quibusdam dolorem quo, officiis est. Reiciendis quaerat reprehenderit maiores cum mollitia cupiditate vitae eligendi saepe beatae aliquid?
                            Inventore doloremque eius quasi eligendi ea ipsam suscipit atque dolore repudiandae odio magnam illum consequatur illo nam quas, culpa nulla maxime voluptatem ipsa vitae fugiat delectus repellat mollitia. Quidem, molestias!
                            Id, similique consectetur! Sequi, enim dignissimos fugit expedita ab amet voluptate dolorum ipsam, laudantium facilis ipsum. Vitae saepe doloremque, quae repellat voluptatum incidunt, numquam inventore culpa perferendis quaerat deleniti provident.
                            Quod voluptas, numquam cumque impedit quasi officia ullam iure fugiat. Cupiditate in itaque nulla aspernatur unde! Possimus corporis placeat tenetur iusto numquam quasi ex maxime sint reprehenderit quae, error sed.</p>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>

                </div>

            </div>

        </div>

    </section>
    
    <script src="https://unpkg.com/vue@3"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <script src="js/script.js"></script>

</body>
</html>