<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex 4 vue</title>
    
</head>

<body>

    <section id="app">

        <div v-for="itens in imagem">

            <img v-bind:src="itens" alt="" style="width:200px;">

        </div>
        
        <hr>

        <p v-for="(item, indice) in frutas">

            {{indice}} {{item}}

        </p>

        <hr>

        <p v-for="(elementos, indice) in eletrodomesticos">

            {{indice}} {{elementos}}

        </p>
        
        <hr>

        <p v-for="(valor,chave,indice) in pessoa">

            {{indice}} - {{chave}}: {{valor}}

        </p>

        <hr>

        <p v-for="itens in carros">

          {{itens.marca}}: {{itens.modelo}}

        </p>

        <hr>

        <p v-for="cont in 10">

            {{cont}}

        </p>

    </section>

    <script src="https://unpkg.com/vue@3"></script>

    <script>

        const app = Vue.createApp({
            data(){
                return{
                    imagem: [
                        "imagens/imagem1.webp",
                        "imagens/imagem2.jpg",
                        "imagens/imagem3.jpg"
                    ],
                    frutas: [
                        "uva",
                        "maracuja",
                        "cupuaçu",
                        "limão"
                    ],
                    eletrodomesticos:[
                        "geladeira",
                        "fogão",
                        "micro ondas",
                        "cafeteira"
                    ],
                    //OBJETO
                    pessoa:{
                        nome: "mateus",
                        idade: 30,
                        endereco: "avenida xesj",
                        sexo: "masculino"
                    },
                    // VETOR DE OBJETOS
                    carros: [
                        {marca: "Porsche", modelo: "911" },
                        {marca: "Fiat", modelo:"Pálio"},
                        {marca: "Volkswagen", modelo: "Gol g6"}
                    ]
                }
            }
        })
        app.mount("#app")

    </script>

</body>
</html>