<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex 5 com VUE</title>

</head>
<body>

    <section id="app">

        <h1>Lista de compras</h1>

        <form action="">

            <input type="text" v-model="produto">

            <button v-on:click.prevent="adicionarProduto()">Inserir produtos</button>

            <button @click.prevent="removerProduto()">Remover item</button>

            <ul>

                <li v-for="item in lista"> {{item}} </li>

            </ul>

        </form>

    </section>

    <script src="https://unpkg.com/vue@3"></script>

    <script>

        const app = Vue.createApp({
            data(){
                return{
                    lista:[],
                    produto: ""
                }
            },
            methods:{
                adicionarProduto(){
                    if(this.produto==""){
                        alert("É preciso adicionar pelo menos um produto")
                    }
                    else{
                        this.lista.push(this.produto) // ADICIONANDO ELEMENTOS NO VETOR
                        this.produto = "" // LIMPAR O CAMPO INPUT 
                    }
                },
                removerProduto(){
                    this.lista.pop() // REMOVE O ULTIMO ITEM DO VETOR
                }
            }
        })
        app.mount("#app")

    </script>
</body>
</html>